table, .container {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

th {
    background-color: #ab987a;
    color: white;
}
tr {
    border-top: 1px solid #ccc; 
    background-color: #f5f5f5;
}

td {
    height: 20px;
    text-align: center;
}

.patient_detail {
    height: 50px;
}

.id_number {
    color: #ab987a;
    text-align: center;
}

.activity-box {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #96858F;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 0.8em;
}

.ok {
    background-color: #0f1626;
    color: white;
}
.bad {
    background-color: #ff533d;
    color: white;
}