<div class="container">
  <span>
    <label for="input-search">Search by name</label>
    <input 
        id="input-search" 
        [(ngModel)]="searchByName"
        data-qa="input-search"/>
  </span>
  <span style="margin-left:40px;">
      <label for="filter-status">Filter by status</label>
      <select id="filter-status" data-qa="filter-status"
        [(ngModel)]="filterByType">
        <option value="all">All</option>
        <option value="ok">Ok</option>
        <option value="bad">Bad</option>
      </select>
  </span>
</div>

<table>
  <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Name</th>
        <th>Gender</th>
        <th (click)="orderByDate()">Birth Date <i [ngClass]="birthSort ? 'fa fa-arrow-down' : 'fa fa-arrow-up'" aria-hidden="true"></i></th>
        <th (click)="orderByHeight()">Height(cm) <i [ngClass]="heightSort ? 'fa fa-arrow-down' : 'fa fa-arrow-up'" aria-hidden="true"></i></th>
        <th (click)="orderByWeight()">Weight(kg) <i [ngClass]="weightSort ? 'fa fa-arrow-down' : 'fa fa-arrow-up'" aria-hidden="true"></i></th>
        <th (click)="orderByBmi()">Bmi <i [ngClass]="bmiSort ? 'fa fa-arrow-down' : 'fa fa-arrow-up'" aria-hidden="true"></i></th>
        <th>Details</th>
      </tr>
  </thead>
  
  <tbody>
    <ng-container *ngFor="let patient of patients">
      <tr *ngIf="(searchByName.length < 1 || searchByName.length >= 1 && isSubstring(patient.name)) && showTableRow(patient.activityLevel)">
        <td><span class="id_number">{{patient.id}}</span></td>
        <td [ngClass]="patient.activityLevel">
          {{patient.activityLevel}}
        </td>
        <td>{{patient.name}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.birthDate}}</td>
        <td>{{patient.heightCm}}</td>
        <td>{{patient.weightKg}}</td>
        <td>{{patient.bmi}}</td>
        <td>
          <div (click)="showDetail(patient)">{{patient.showDetail ? '- close detail' : '+ open detail'}}</div>
        </td>
      </tr>
      <tr *ngIf="patient && patient.activities && patient.showDetail">
        <td colspan="9" [ngClass]="patient.activityLevel" class="patient_detail">
          <span class="activity-box" *ngFor="let activity of patient.activities">
            <span >{{activity.activity}}</span> | <span>{{activity.minutes}} min</span> 
          </span>
        </td>  
      </tr>
    </ng-container>
  </tbody>
</table>
