<div *ngIf="patients && patients.length > 0; else loading">
  <app-patients-table 
      [patients]="patients"
      (checkPatientDetail)="checkDetail($event)"></app-patients-table>
</div>
<ng-template #loading>Waiting for data...</ng-template>


